---
title: "Authors"
layout: default
permalink: "/authors-list.html"
---

<div class="container">
    <style>
        .hover-card {
            transition: filter 0.3s ease;
            color: black;
        }
    
        .hover-card:hover {
            filter: brightness(0.8); /* Adjust the value to make it darker (e.g., 0.8 for 80% darkness) */
        }

        .member {
            background-color: #e6e6e6;
        }

        .opinion-editor {
            background-color: #0D2A54;
            color: white;
        }

        .editor-in-chief {
            background-color: #B53535;
            color: white;
        }

        .layout-editor {
            background-color: #EDCA1A;
        }
    </style>
    
    <h2 class="font-weight-bold spanborder"><span>{{page.title}}</span></h2>
    <div class="row gap-y listrecent listrecent listauthor">
        {% for author in site.authors %}
            {% assign name_parts = author[1].name | split: ' ' %}
            {% assign slugified_name = name_parts | join: '-' | slugify %}

            {% assign grade_lowercase = author[1].grade | strip | downcase %}
            {% if grade_lowercase == alumni %}
                <script>console.log("{{author[1].name}}  is an Alumni  {{grade_lowercase}}")</script>
                {% continue %}
            {% endif %}
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <a href="{{site.baseurl}}/author-{{ slugified_name | slugify }}">
                    <div class="p-4 border rounded hover-card {{ author[1].role | slugify }}">
                        <div class="row">
                            <div class="col-md-12 mb-2 justify-content-center align-items-center flex-column text-center">
                                <img alt="{{ author[1].name }}" src="{{site.baseurl}}/{{ author[1].avatar }}" class="rounded-circle" height="90" width="90">
                                <br>
                                
                            </div>
                            <div class="col-md-12">
                                <h4 class="text-center mb-0"> {{ author[1].name }} </h4>
                                <h5 class="text-center mb-0">{{ author[1].role }}</h5>
                                <h6 class="text-center">{{ author[1].grade }} at {{ author[1].school }}</h6>
                                <div class="">{{ author[1].bio }}</div>
                                <div class="icon-block mt-3 d-flex justify-content-between">
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>   
        {% endfor %}
    </div>
</div>
