---
title: "Chloe Gavula"
layout: default
permalink: "/author-chloe-gavula.html"
---
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">        
        <div class="row align-items-center mb-5">
            <div class="col-md-9">
                <h2 class="font-weight-bold">{{page.title}}</h2>
                <p>{{ site.authors.chloe.grade }} at {{ site.authors.chloe.school }}</p>
                <p class="excerpt">{{ site.authors.chloe.bio }}</p>
            </div>
            <div class="col-md-3 text-right">
                <img alt="{{ site.authors.chloe.name }}" src="{{site.baseurl}}/{{ site.authors.chloe.avatar }}" class="rounded-circle" height="100" width="100">
            </div>
        </div>
        <h4 class="font-weight-bold spanborder"><span>Articles by {{page.title}}</span></h4>
            {% assign posts = site.posts | where:"author","chloe" %}
            {% for post in posts %}
            {% include main-loop-card.html %}
            {% endfor %}
    </div>
</div>
</div>