---
title: "Science"
layout: default
pagination:
    enabled: true
permalink: "/science.html"
---


<div class="container">
    
    
    <h1 class="font-weight-bold spanborder"><span>Science</span></h1>
    
<!-- Begin post excerpts, let's highlight the first 4 posts on top -->
<div class="row remove-site-content-margin">

    <!-- latest post -->
    {% assign science_posts = site.posts | where: "categories", "Science" %}
    {% assign latest_post = science_posts[0] %}
    {% include main-big-post.html %}
    
    <div class="col-md-6">
        
        <!-- latest posts -->   
        {%- assign post = science_posts[1] -%}        
        {% include main-top-card.html %}
        
        {%- assign post = science_posts[2] -%}        
        {% include main-top-card.html %}
        
        {%- assign post = science_posts[3] -%}        
        {% include main-top-card.html %}
        
    </div>
    
</div>
    
<!-- Sticky - add sticky tag to the post you want to highlight here - tags: [sticky] -->
{% for post in science_posts %} 
{% if post.tags contains "sticky" %}
    {% include main-sticky.html %}
{% endif %}
{% endfor %}


<!-- Now the rest of the posts with the usual loop but with an offset:4 on the first page so we can skeep the first 4 posts displayed above -->
    
<div class="row mt-3">
   
    <div class="col-md-8 main-loop">
        
        <h4 class="font-weight-bold spanborder"><span>All Science Stories</span></h4>
        {% assign offset = 4 %}
            
        {% for post in science_posts offset: offset %}
            {% include main-loop-card.html %}
        {% endfor %}
        
        <div class="mt-5">
         <!-- Pagination links -->
            {% if paginator.total_pages > 1 %}
            <ul class="pagination"> 
              {% if paginator.previous_page %}
                <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
              {% else %}
                <li class="page-item disabled"><span class="prev page-link">&laquo;</span></li>
              {% endif %}

              {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                <li class="page-item disabled"><span class="webjeda page-link">{{ page }}</span></li>
                {% elsif page == 1 %}
                <li class="page-item"><a class="page-link" href="{{site.baseurl}}/">{{ page }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                {% endif %}
              {% endfor %}

              {% if paginator.next_page %}
                <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
              {% else %}
                <li class="page-item disabled"><span class="next page-link">&raquo;</span></li>
              {% endif %}
            </ul>
            {% endif %}      
        </div>
        
    </div>
    
    <div class="col-md-4">
        {% include sidebar-featured.html %}    
    </div>
    
</div>



</div>