<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">        
            <div class="row align-items-center mb-5">
                <div class="col-md-3 order-md-last text-center mb-3">
                    <img alt="{{ site_author.name }}" src="{{site.baseurl}}/{{ site_author.avatar }}" class="rounded-circle" height="100" width="100">
                </div>
                <div class="col-md-9 order-md-first">
                    <h2 class="font-weight-bold">{{page.title}}</h2>
                    <p>{{ site_author.grade }} at {{ site_author.school }}</p>
                    <p class="excerpt">{{ site_author.bio }}</p>
                </div>
            </div>            
            <h4 class="font-weight-bold spanborder"><span>Articles by {{page.title}}</span></h4>
                {% assign posts = site.posts | where:"author", name %}
                {% for post in posts %}
                {% include main-loop-card.html %}
                {% endfor %}
        </div>
    </div>
    </div>