<!--  Replace menu links here -->
<!-- 
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/">Home</a>
</li> -->
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list">Writers</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories">Categories</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/news"><!-- <i class="fa fa-newspaper fa-thin text-danger"></i> -->News</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/opinion">Opinion</a>
</li>
